body {
    color: white;
}



.container {
    width: 300px;
    height: 600px;
    background-color: gainsboro;
    margin:100  px;
}

.box {
    width: 100px;
    height: 100px;
}

.red {
    position: relative;
    background-color: red;
    top: 100px;
    left: 100px;
}

.green {
    background-color: green;
    position: absolute;
    bottom: 0;
    right: 0;
}

.blue {
    background-color: blue;
    position: fixed;
    left: 0;
    top: 0;

}
.purple {
    background-color: purple;
    position: sticky;
    top: 50px;
}

.spacer {
    height: 300vh;
}