body {
    background-color: red;
}
/*@media (orientation:portrait) {
    body {
        background-color: green;
    }
}*/
/* @media (400px <= width <= 600px) {
    body {
        background-color: gold;
    }
} */
@media (min-width: 400px) {
    body {
        background-color: green;
    }
}
 @media (min-width:600px) {
    body {
        background-color: gold;
    }
}

